---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Zadanie na sprawność Europejczyk ***">
	<main>
		<h1>Zadanie na <span class="text-gradient">Europejczyk ***</span></h1>
		<p class="instructions">
			To strona poświęcona zdaniu sprawności <strong>Europejczyk ***</strong>. Stronka odpowiada na wymagania na sprawność.
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="/europejczyk/deklaracja/"
				title="Deklaracja Schumanna"
				body="Zobacz jakie znaczenie miała Deklaracja Schumanna dla pokojowego jednoczenia kontynentu."
			/>
			<Card
				href="/europejczyk/tradycje/"
				title="Tradycje krajów UE"
				body="Poznaj tradycje różnych krajów w Unii Europejskiej."
			/>
			<Card
				href="/europejczyk/kandydaci/"
				title="Kraje kandydujące do Unii Europejskiej"
				body="Tutaj możesz przeczytać o krajach kandydujących do Unii Europejskiej."
			/>
			<Card
				href="/europejczyk/wycieczka/"
				title="Przykładowa wycieczka do wybranego kraju Strefy Schengen."
				body="Tutaj zaplanujemy wycieczkę do Włoch."
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
