---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Zadanie na sprawność Europejczyk ***">
	<main>
		<h1>Zadanie na <span class="text-gradient">Europejczyk ***</span></h1>
		<p class="instructions">
			Unia Europejska to zróżnicowana kolekcja <strong>krajów</strong> o szerokiej gamie <strong>kultur</strong>, zwyczajów i tradycji. Oto kilka przykładów zwyczajów, rytuałów i <strong>kostiumów ludowych</strong> z różnych państw członkowskich UE:
		</p>
		<p class="instructions">
			<strong>Hiszpania</strong>: <strong>Taniec flamenco</strong> to tradycyjny taniec w Hiszpanii. Obejmuje on rytmiczne ruchy, klaskanie i grę na gitarze. Hiszpania obchodzi również "La Tomatinę", festiwal, podczas którego ludzie rzucają pomidorami w siebie nawzajem. Flamenco to tradycyjny strój noszony przez kobiety, który charakteryzuje się jaskrawymi kolorami, falbankami i dopasowanym gorsetem.
		</p>
		<p class="instructions">
			<strong>Francja</strong>: We Francji <strong>Dzień Bastille</strong>, narodowe święto obchodzone 14 lipca, upamiętnia początek Rewolucji Francuskiej. Innym ważnym zwyczajem kulturowym jest <strong>przemysł mody</strong>, ponieważ Paryż znany jest jako stolica mody świata. Tradycyjny strój francuski nazywany jest "kostium bretoński", który składa się z paskowanej koszuli i beretu.
		</p>
		<p class="instructions">
			<strong>Niemcy</strong>: <strong>Oktoberfest</strong> to słynny niemiecki festiwal, który polega na piciu piwa i jedzeniu tradycyjnego jedzenia. Tradycyjny strój w Niemczech to "Dirndl" dla kobiet i "Lederhosen" dla mężczyzn. Dirndl to sukienka z dopasowanym gorsetem i pełną spódnicą, a lederhosen to skórzane spodenki z szelkami.
		</p>
		<p class="instructions">
			<strong>Włochy</strong>: Włochy są znane z <strong>żywności</strong> i <strong>wina</strong>, a istnieje wiele tradycyjnych włoskich dań, takich jak pizza i makaron. Jednym z najważniejszych zwyczajów kulturowych jest "Carnevale", festiwal obchodzony w Wenecji i innych częściach Włoch. Tradycyjny strój we Włoszech to "traje de la boda", sukienka ślubna noszona przez kobiety, która obejmuje biały welon i koronę.
		</p>
		<p class="instructions">
			<strong>Grecja</strong>: W Grecji tradycyjnym tańcem jest "sirtaki", który obejmuje serię kroków i ruchów. Grecja również obchodzi "Karnawał" z paradami, kostiumami i ulicznymi imprerezami. Kostiumy w Grecji obejmują "fustanellę", która jest charakterystycznym strojem męskim, składającym się z kiltu i koszuli, a także "chiton" - luźnej tuniki, która była tradycyjnie noszona przez kobiety i mężczyzn.
		</p>
		<p class="instructions">
			<strong>Szwecja</strong>: W Szwecji "Midsommar" jest ważnym świętem letnim, obchodzonym w czerwcu. Podczas Midsommar ludzie tańczą wokół pręta z kwiatami, a także jedzą "sill" - marynowane śledzie i "potatis" - gotowane ziemniaki. Tradycyjny strój w Szwecji nazywa się "folkdräkt" i różni się w zależności od regionu.
		</p>
		<p class="instructions">
			<strong>Polska</strong>: W Polsce wieloma tradycyjnymi zwyczajami są np. "Andrzejki" - wieczór wróżb przypadający na noc z 29 na 30 listopada, "Wigilia" - uroczysty wieczór wigilijny, obchodzony 24 grudnia, "Boże Narodzenie" czy "Święto Trzech Króli". W Polsce także wiele regionów posiada charakterystyczne <strong>stroje ludowe</strong>, jak np. "Krakowiak" noszony na obszarze Krakowa, lub "Góralski" z Podhala.
		</p>
		<p class="instructions">
			To tylko kilka przykładów różnorodności kulturowej w państwach członkowskich UE. Każde państwo ma swoją unikalną historię, kulturę i tradycje, które czynią Europę niezwykle zróżnicowanym i fascynującym kontynentem.
		</p>
		<p class="instructions">
			
		</p>

	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
